## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)
len(sample_list_1)

[98, 28, 91, 93, 32, 61, 67, 31, 65, 0, 5, 3, 18, 14, 7, 48, 82, 80, 78, 19, 24, 94, 57, 13, 43, 81, 79, 88, 8, 50, 53, 77, 10, 42, 39, 36, 95, 21, 69, 90, 33, 25, 58, 2, 83, 54, 47, 46, 12, 34, 89, 84, 68, 59, 22, 70, 23, 99, 6, 86, 75, 97, 76, 52, 37, 49, 27, 41, 38, 85, 72, 35, 4, 66, 55, 63, 26, 62, 92, 56]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
sample_list_1 = [98, 28, 91, 93, 32, 61, 67, 31, 65, 0, 5, 3, 18, 14, 7, 48, 82, 80, 78, 19, 24, 94, 57, 13, 43, 81, 79, 88, 8, 50, 53, 77, 10, 42, 39, 36, 95, 21, 69, 90, 33, 25, 58, 2, 83, 54, 47, 46, 12, 34, 89, 84, 68, 59, 22, 70, 23, 99, 6, 86, 75, 97, 76, 52, 37, 49, 27, 41, 38, 85, 72, 35, 4, 66, 55, 63, 26, 62, 92, 56]
set1 = set(sample_list_1)
print(set1)
len(set1)
# Si tiene la misma lenght tanto la lista como el set.

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
sample_list_2 = []

for i in range(80):
    value = random.randint(0, 100)
    sample_list_2.append(value)

print(sample_list_2)

[25, 72, 12, 77, 20, 22, 16, 34, 35, 49, 13, 87, 98, 40, 96, 74, 18, 8, 0, 60, 64, 43, 42, 47, 35, 89, 68, 54, 70, 19, 48, 52, 59, 37, 5, 98, 7, 76, 5, 82, 26, 18, 65, 41, 73, 54, 96, 43, 85, 10, 4, 6, 14, 28, 3, 91, 33, 91, 29, 17, 79, 77, 42, 30, 84, 63, 1, 75, 55, 76, 37, 36, 7, 73, 36, 54, 83, 17, 77, 77]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
set2 = set(sample_list_2)
print(set2)
len(set2)
# No, la len ha bajado a 61 puesto que se han quitado los duplicados generados por la lista

{0, 1, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20, 22, 25, 26, 28, 29, 30, 33, 34, 35, 36, 37, 40, 41, 42, 43, 47, 48, 49, 52, 54, 55, 59, 60, 63, 64, 65, 68, 70, 72, 73, 74, 75, 76, 77, 79, 82, 83, 84, 85, 87, 89, 91, 96, 98}

61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
set3 = set1 - set2
print(set3)

{2, 21, 23, 24, 27, 31, 32, 38, 39, 46, 50, 53, 56, 57, 58, 61, 62, 66, 67, 69, 78, 80, 81, 86, 88, 90, 92, 93, 94, 95, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
set4 = set2 - set1
print(set4)

{64, 1, 96, 40, 73, 74, 16, 17, 20, 87, 60, 29, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
set5 = set1 & set2
print(set5)

{0, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 18, 19, 22, 25, 26, 28, 33, 34, 35, 36, 37, 41, 42, 43, 47, 48, 49, 52, 54, 55, 59, 63, 65, 68, 70, 72, 75, 76, 77, 79, 82, 83, 84, 85, 89, 91, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [17]:
len(set1)

80

In [18]:
len(set2)

61

In [19]:
len(set3)

32

In [20]:
len(set4)

13

In [21]:
len(set5)

48

In [24]:
len(set1) == len(set3) + len(set5)
# todos los elementos que solo estan presentes en el set 1 m치s los que est치n presentes en ambos (duplicados) dan como resultado el mismo numero que habia en set1, porque son los numeros unicos m치s los repetidos vs set 2. Es decir su total. La cosa es que este set sale de una lista random en la que pueden haber duplicados por eso la cuenta es 80.

True

In [25]:
len(set2) == len(set4) + len(set5)
# Lo mismo que en la explicacion anterior esta vez la diferencia de numeros es de 13 en lugar de 32, porque al general set2 desde la lista 2, sin duplicados su base es de 61. Y el razonamiento es el mismo los unicos 13 de set2 m치s los que comparte con set1 de 48 dan 61 que es su total.

True

#### Create an empty set called `set6`.

In [27]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [29]:
set6 = set3 | set5
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [31]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [32]:
es_subconjunto = set2.issubset(set1)
print(es_subconjunto)

False

In [33]:
es_subconjunto2 = set3.issubset(set1)
print(es_subconjunto2)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [34]:
set7 = set3.union(set4, set5)
set8 = set1.union(set2)

set7 == set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [38]:
elemento_eliminado = set1.pop()

print("Conjunto actualizado:", set1)
print("Elemento eliminado:", elemento_eliminado)

Conjunto actualizado: {2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
Elemento eliminado: 0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [45]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)
        
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 18, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 42, 43, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 65, 66, 67, 68, 70, 72, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 97, 98}